<!DOCTYPE html>
<html>
<head lang="en">
   <metacharset="UTF-8">
   <title>Album</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
</head>
<body>   
   <nav class="navbar navbar-default">
      <div class="container-fluid"> 
         <div class="navbar-header">
            <button type="button"class="navbar-toggle collapsed" data-toggle="collapse"data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'base' %}">Album</a>
         </div> 
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li>
                  <a href="{% url 'category-list' %}">
                     Category 
                     <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'photo-list' %}">Photo</a>
               </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                  <a href="#"class="dropdown-toggle" data-toggle="dropdown"role="button"aria-expanded="false">Action
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu"role="menu">
                     <li>
                        <a href="{% url 'photo-create' %}">Upload</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#">Log In</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="container">
      {% block section %}
      {% endblock section %}
   </div>
   <div class="container">
      {% block maincontent %}
      {% endblock maincontent %}
   </div>
</body>
</html>