{% extends 'adminlte/base.html' %}

{% block section %}
    <h2>Category</h2>
    <hr>
{% endblock section %}
{% block maincontent %}
<div>
    {% for c in object_list %}
        <a href="{% url 'category-detail' c.pk %}">
            {{ c.name }}
        </a>
    {% endfor %}
</div>
{% endblock maincontent %} 