{% extends 'adminlte/base.html' %}

{% load static %}
{% block section %}
<h2>{{ object.name }}</h2>
<hr>
{% endblock section %}
{% block maincontent %}
<div>
    <tableborder="1px">
        <tr>
            {% for p in object.photo_set.all %}
            <td>
                <div>{{ p.title }}</div>
                <div>
                    <a href="{% url "photo-detail" p.id %}">
                        <img src="{% static p.photo.url %}" style="width:200px;height:200px" />
                    </a>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table> 
</div>
{% endblock maincontent %} 