{% extends 'adminlte/base.html' %}
{% load static %}

{% block content %}
   <h2>
      {{ object }}

      {% if object.favorite %}
         &#9733;
         {% else %}
         &#9734;
      {% endif %}

      {% if object.category_id %}
         ( <a href="{% url 'category-detail' object.category_id %}"> {%
            object.title %} </a> )
      {% endif %}
   </h2>

   <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>

   <a href="{% url "photo-update" object.id %}">edit</a>
   <a href="{% url "photo-delete" object.id %}">delete</a>
   <hr>

   <div>
      <div>
         <img src= "{% static object.photo.url %}" style="width:550px;height:420px" />
      </div>
   </div>
{% endblock content %}